body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top left, #2cd8ad, #4321d6);
}

h1 {
    font-style: italic;
    font-size: 62pt;
    text-align: center;